<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"> <!--The / refers to start from root directory, "public"-->
  <title>Yelp Camp</title>
</head>

<script>
  // disabling button on submit
  $('form').submit(function(){
    $('input[type=submit]', this).attr('disabled', 'disabled');
  });
</script>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="/campgrounds">
      <img id="navbar-brand-img" src="/images/camp-logo.png" alt="camp logo"> 
      YelpCamp
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-auto"> <!-- ml-auto moves everything to the right-->
        <!--Search bar is non-functional-->
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <% if(!currentUser) { %>
          <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/register">Sign Up</a>
            </li>
        <% }  else { %>
          <li class="nav-item">
              <a class="nav-link" href="#">Signed in as: <%= currentUser.username %></a> 
          </li>
          <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
          </li>
        <% } %>
      </ul>
      
    </div>
  </nav>

  <div class="container">
    <% if(error && error.length > 0) {  %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= error %>
      </div>
  <%  } %>
    <% if(success && success.length > 0) {  %>
      <div class="alert alert-success alert-dismissible fade show" role="alert"> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <%= success %>
      </div>
    <%  } %>
  </div>
  