<% include ./partials/header %>

<h1 style="text-align: center">Sign Up</h1>
<hr>
<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col-auto">
            <form class="form-group" action="/register" method="POST">
                <div class="form-group">
                    <label for="username">Create a username</label>
                    <input type="text" class="form-control" name="username" placeholder="username">
                    <small class="form-text text-muted">We'll never share your personal info with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="password">Create a password</label>
                    <input type="password" class="form-control" name="password" placeholder="password">
                </div>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input type="text" class="form-control" name="firstName" placeholder="first name">
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" class="form-control" name="lastName" placeholder="last name">
                </div>
                <div class="form-group">
                    <label for="email">Create email</label>
                    <input type="email" class="form-control" name="email" placeholder="john.doe@example.com">
                </div>
                <div class="form-group">
                    <label for="avatar">Avatar</label>
                    <input type="text" class="form-control" name="avatar" placeholder="avatar url">
                </div>
                <div class="form-group">
                    <label for="admin-code">Enter admin code if you have</label>
                    <input type="password" class="form-control" name="adminCode" placeholder="admin code">
                </div>
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </form>
            <p>
                Already have an account? <a href="/login">Log in here</a>
            </p>
        </div>
    </div>
</div>

<!-- Divider with text in the middle 
<div class="row">
        <div class="col"><hr></div>
        <div class="col-auto">OR</div>
        <div class="col"><hr></div>
    </div>
-->
<% include ./partials/footer %>