<% include partials/header %>

<h1><%=campground.name%></h1>

<img src="<%=campground.image%>" alt="campground-image">

<p><%=campground.description%></p>

<a href="/campgrounds">Edit</a>

<% include partials/footer %>