<% include ../partials/header %>



<div class="container-fluid">
    <div class="container">
        <header class="jumbotron">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto">
                <h1>Welcome To YelpCamp!</h1>
                <p>View our hand-picked campgrounds from all over North America</p>
                <a class="btn btn-primary" href="/campgrounds/new">Add New Campground</a>
            </div>
        </div>
        </header>
    </div>
    
    <div class="container">
      <div class="row">
        <% campgrounds.forEach((campground) => { %>
            <div class="col-md-4 text-center"> 
                <figure class="figure" id="figure-landing">
                    <img src="<%= campground.image %>" id="img-landing-page" class="figure-img">
                    <h4><%= campground.name %></h4>
                    <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More info</a>
                </figure>
            </div>
        <% }); %>
      </div>
    </div>
</div>

<% include ../partials/footer %>