<% include ../partials/header %>

<h1 class="text-center">Add New Campground</h1>
<br>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-auto">
      <form class="form-group" action="/campgrounds" method="POST">
        <div class="form-group">
          <label for="username">Enter campground name</label>
          <input class="form-control" type="text" name="name" placeholder="Name">
        </div>
        <div class="form-group">
          <label for="username">Enter image url</label>
          <input class="form-control" type="text" name="image" placeholder="Image url">
        </div>
        <div class="form-group">
          <label for="username">Enter description of campground</label>
          <textarea class="form-control" rows="10" name="description" placeholder="Description"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <a href="/campgrounds">Go back</a>
    </div>

  </div>

</div>

<% include ../partials/footer %>