.inline-it {
    display: inline;
}

#figure-landing {
    border: 1px solid #021a40;
}

#img-landing-page {
    width: 300px; 
    height: 200px;
    object-fit: cover;
}

.avatar-img {
    width: 300px;
    height: auto;
}

#navbar-brand-img {
    width: 40px;
    height: 40px;
}

#show-fig-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}