#inline-it {
    display: inline;
}

#figure-landing {
    border: 1px solid #021a40;
}

#img-landing-page {
    width: 300px; 
    height: 200px;
    object-fit: cover;
}

.img-thumbnail {
    padding: 0;
}

#navbar-brand-img {
    width: 40px;
    height: 40px;
}
