#inline-it {
    display: inline;
}

#figure-landing {
    border: 1px solid #021a40;
}

#img-landing-page {
    width: 300px; 
    height: 200px;
    object-fit: cover;
}

#navbar-brand-img {
    width: 40px;
    height: 40px;
}

.delete-btn-inline {
    display: inline;
}

#review-btn {
    margin-top: 15px;
    margin-right: 15px;
}

/* Google Maps */
#map {
    height: 400px;
    width: 100%;
}